/target/
/.gradle/
mx.kukulkan.dsl.usecase.ide/bin/
mx.kukulkan.dsl.usecase.ide/src-gen/
mx.kukulkan.dsl.usecase.ide/src/
mx.kukulkan.dsl.usecase.ide/xtend-gen/
mx.kukulkan.dsl.usecase.tests/src-gen/
mx.kukulkan.dsl.usecase.tests/src/
mx.kukulkan.dsl.usecase.tests/test-bin/
mx.kukulkan.dsl.usecase.tests/xtend-gen/
mx.kukulkan.dsl.usecase.ui.tests/src-gen/
mx.kukulkan.dsl.usecase.ui.tests/test-bin/
mx.kukulkan.dsl.usecase.ui/bin/
mx.kukulkan.dsl.usecase.ui/plugin.xml
mx.kukulkan.dsl.usecase.ui/src-gen/
mx.kukulkan.dsl.usecase.ui/src/
mx.kukulkan.dsl.usecase.ui/xtend-gen/
mx.kukulkan.dsl.usecase/.antlr-generator-3.2.0-patch.jar
mx.kukulkan.dsl.usecase/bin/.gitignore
mx.kukulkan.dsl.usecase/model/
mx.kukulkan.dsl.usecase/plugin.xml
mx.kukulkan.dsl.usecase/src-gen/
mx.kukulkan.dsl.usecase/xtend-gen/